* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    display: block;
    font-size: 10px;
    user-select: none;
}

.container-profile {
    background-color: rgb(195, 195, 195);
    width: 30rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;

    border: 0.1rem solid black;
}

.profile-image {
    display: block;
    background-image: url('../assets/loginPageBackground.png');
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 1rem;
}

#profile-username {
    margin-left: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2rem;
}

.chat-rooms{
    background-color: rgb(195, 195, 195);
    width: 30rem;
    height: 100rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    border: 0.1rem solid black;
}

.chat-room{
    display: flex;
    align-items: center;

    margin-top: 1rem;
}

.chat-image {
    display: block;
    background-image: url('../assets/loginPageBackground.png');
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.chat-name {
    margin-left: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2rem;
}