html{
    font-size: 10px;
    user-select: none;
}
*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow: hidden;

    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto Mono', monospace;

    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;

    background-color: rgb(34, 40, 49);
}
main{
    background-color: rgb(57, 62, 70);
    width: 92rem;
    height: 63rem;
    border-radius: 2rem;
}
img{
    height: 60rem;
    margin: 1.5rem;
    border-radius: 2rem;
}
.image{
    display: inline-block;
}
.loginBox{
    display: inline-block;
    vertical-align: top;
    margin-top: 7rem;
    margin-left: 8rem;
}
.title{
    color: #eeeeee;
    font-size: 4rem;
    font-weight: 400;
}
.info{
    height: 4.5rem;
    width: 31.5rem;
    border-radius: 4rem;
    border: none;
    padding-left: 2rem;
    font-size: 1.5rem;

    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto Mono', monospace;
}
.info:focus{
    outline: none;
}
.group{
    display: grid;
    margin-top: 1rem;
}
#loginBtn{
    background-color: #ffca4b;
    font-size: 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}
.inputs{
    margin-top: 3rem;
}
.choiceBox {
    margin: auto;

    display: flex;
    width: 29rem;
    height: 2rem;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.choiceText {
    position: relative;
    color: #ffffff;
    top: -1rem;
}
.line {
    flex-grow: 1;
    height: 0.2rem;
    background-color: #ffffff;
}
.button{
    background-color: #FFCA4B;
    border: none;
    border-radius: 5.6rem;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}
i{
    font-size: 3rem;
    color: #222831;
}
.otherChoices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
}
.register{
    color: white;
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-top: 5rem;
}
.register a{
    color: rgb(96, 96, 96);
    font-weight: 400;
    font-style: italic;
}
.group p{
    gap: 0rem;
    font-size: 1.5rem;
    color: #eeeeee;
    margin-bottom: 0.4rem;
}
.group .error{
    color: rgba(228, 47, 47, 0.702);
}