* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    display: block;
    font-size: 10px;
    user-select: none;
}

body {
    overflow: hidden;

    background: #222831;

    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto Mono', monospace;

    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.main {
    background-color: rgb(57, 62, 70);
    width: 92rem;
    height: 63rem;
    border-radius: 2rem;
}

.details-section {
    display: inline-block;
}
.list-section { 
    display: inline-block;
    width: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 4rem;
}

.group { 
    position:relative;  
    margin-top: 1.75rem;
}

.field 	{
    padding: 1rem 1rem 1rem 1rem;
    display:block;
    width: 22.05rem;
    height: 3rem;
    border:none;
    border: 0.2rem solid #ffffff;
    border-radius: 2rem;
    background: #ffffff;
    font-size: 1.6rem;
    color: #34343F;
}

.field:focus { 
    outline:none; 
}

label{
    color: #34343F; 
    font-size: 1.26rem;
    
    position:absolute;
    pointer-events:none;
    
    top: 0.7rem;
    padding-left: 1.4rem;

    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.field:focus ~ label, .field:valid ~ label {
    padding-left: 0rem;
    top:-1.54rem;
    font-size: 1.12rem;
    color: #FFFFFF;
}

.button { 
    width: 22.05rem;
    height: 3.2rem;
    margin-top: 1rem;
    
    border: none;
    border-radius: 2rem;

    font-size: 1.6rem;
    color: #222831;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    
    cursor: pointer;
    background: #FFCA4B;
}

#signupBtn {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.alreadyAMember{
    color: white;
    font-size: 1.8rem;
    font-weight:400;
    margin: auto;
}
.alreadyAMember a{
    color: rgb(96, 96, 96);
    font-weight:800;
}

.step {
    display: flex;
    gap: 1rem;
}

.step i {
    font-size: 4rem;
    position: relative;
    color: #5B708F;
}

.step-info-part {
    margin: 0 0 0 1rem;
}

.step-info-part h2{
    margin: 0 0 1rem 0;
    font-size: 2rem;
}