* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    display: block;
    font-size: 10px;
    user-select: none;
}

body {
    overflow: hidden;
    background-image: url('../assets/loginPageBackground.png');
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;

    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto Mono', monospace;
}

.main {
    position: absolute;

    top: 50%;
    left: 60%;

    transform: translate(-10%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.registerBox {
    margin: auto;
    height: 35rem;
    width: 35rem;
    
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem 4rem 0rem 4rem;
    
    background: #ffffff1f;
    border-radius: 1rem;
    background: -moz-linear-gradient(210deg, #ffffff50, #92929250 70%);
    backdrop-filter: blur(2rem);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.choiceBox {
    margin: auto;

    display: flex;
    width: 35rem;
    height: 2rem;
    gap: 1rem;
    margin-top: 1rem;
}

.choiceText {
    position: relative;
    color: #ffffff;
    top: -1rem;
}

.line {
    flex-grow: 1;
    height: 0.2rem;
    background-color: #ffffff;
}


.googleSignUpBox {
    margin: auto;
    height: 8rem;
    width: 35rem;
    
    background: #ffffff1f;
    border-radius: 1rem;
    background: -moz-linear-gradient(210deg, #ffffff50, #92929250 70%);
    backdrop-filter: blur(2rem);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.googleSignUpBox .button {
    margin-top: 0rem;
}

.button { 
    width: 20rem;
    height: 3.2rem;
    margin-top: 1rem;
    
    border: none;
    border-radius: 0.4rem;

    font-size: 1.6rem;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    
    opacity: 80%;
    cursor: pointer;
    background: #29529C;
}

.group { 
    position:relative;  
}

.field 	{
    padding: 1rem 1rem 1rem 0rem;
    display:block;
    width: 25rem;
    height: 3rem;
    border:none;
    border-bottom: 0.2rem solid #ffffff;
    background: none;
    font-size: 1.6rem;
    color: #ffffff;
}

.field:focus { 
    outline:none; 
}

#passField {
    letter-spacing: 0.3rem;
}

label {
    color: #ffffff; 

    font-size: 1.8rem;

    position:absolute;
    pointer-events:none;
   
    top: 0.2rem;
    
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
.field:focus ~ label, .field:valid ~ label {
    top:-1.6rem;
    font-size: 1.2rem;
    color: #ffffff;
}

.title{
    color: rgba(233, 233, 233, 1);
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 3rem;

    margin: auto;
}
p{
    color: white;
    font-size: 1.8rem;
    margin: auto;
}
p a{
    color: rgb(96, 96, 96);
    font-weight: 400;
    font-style: italic;
}